POSTGRES_USER=woodops
POSTGRES_PASSWORD=change-me
POSTGRES_DB=woodops
REDIS_APPENDONLY=yes
MINIO_ROOT_USER=woodopsminio
MINIO_ROOT_PASSWORD=change-me
MINIO_CONSOLE_PORT=9001
MINIO_API_PORT=9000
MONGO_INITDB_ROOT_USERNAME=woodops
MONGO_INITDB_ROOT_PASSWORD=change-me
MONGO_PORT=27017
CLICKHOUSE_USER=woodops
CLICKHOUSE_PASSWORD=change-me
CLICKHOUSE_DB=woodops
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9002
OPENSEARCH_HTTP_PORT=9200
OPENSEARCH_METRICS_PORT=9600
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
OPENSEARCH_DASHBOARDS_PORT=5601
